* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* outline: 1px solid black;   */
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
    color: white;
    font-size: 16px;
}

#headr ul {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}


.hero .initial-text {
    text-align: left;
    margin: 0 auto;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 50%;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    width: 80%;
}

.hero button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 20%;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
 
}


/* Medio */

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.main-info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.main-info .img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 60%;
    gap: 30px;
    text-align: center;
    margin: 10px;
    padding-bottom: 30px;
}


.main-info .img-row .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    width: 250px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;

}

/* Quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
    height: 150px;
    font-size: 36px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.quote .text {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

#q-name {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}


/* Call to action */

.action {
    padding: 100px;
    flex: 1;
}

.blue-box {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px 30px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

.center {
    padding: 20px 60px;
}

.center h3,
.center p {
    margin: 0;
}

.action button {
    padding: 15px 30px;
    margin-right: 10%;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}





/* Detallitos */

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

li {
    list-style: none;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

button {
       transition: all 1s ease;
}

button:hover {
    background-color: #1f4683;
    transform: scale(1.2);
box-shadow: 0 0 10px whitesmoke;
}

